nav{
    position: fixed;
    height: 100%;
    background: rgb(0,117,137);
    top: 0;
    left: 0;
    width: 250px;
    margin-left: -250px;
    transition: all linear .4s;
}

nav ul li{
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    font-size: 20px;
    list-style: none;
}

#section{
    margin-left: 0px;
    transition: all linear .4s;
    /* margin-left: 250px; */
}


#barsButton{
    font-size: 20px;
}