.menu_bar{
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #112F3B;
    transition: 0.5s;
}

.menu_bar ul li{
    list-style: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem .5rem 1rem .1rem;
    font-size: 20px;
    text-transform: uppercase;
}





.content{
    margin-left: 200px;
}

.keys{
    display: inline;
    position: relative;
}

button[title]:hover:after {
    content: attr(title);
    padding: 4px 8px;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 20px;
    background:red;
}

/* .key{
    position: absolute;
    text-align: center;
    top:-30px;
    height: 30px;
    width: 30px;
    background: rgb(189, 189, 187);
} */

